<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @message.tweet %>
</p>
<p>
  <strong>User</strong>
  <%= @message.user.email %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
